@import "../../../../../node_modules/react-alice-carousel/lib/alice-carousel.css";


.alice-carousel__stage-item {
    margin-right: 60px;
    max-width: calc((1300px - (60px * 3)) / 3);
    width: 100% !important;
    height: 400px;
    @media screen and (max-width: 1310px) {
        max-width: calc((100% - 60px) / 2);
    }
    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}

.alice-carousel__stage {
    padding: 60px 30px;
}


.alice-carousel {

    position: relative;
    height: 100%;
    max-width: 1300px;
    @media screen and (max-width: 1310px) {
        max-width: 900px;
    }
    @media screen and (max-width: 992px) {
        max-width: 700px;
    }
    @media screen and (max-width: 768px) {
        max-width: 500px;
    }
    @media screen and (max-width: 576px) {
        max-width: 320px;
    }

}

.alice-carousel__next-btn {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -85px;
    bottom: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.alice-carousel__prev-btn {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -85px;
    bottom: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.alice-carousel__dots {
    display: none;
}

.alice-carousel__prev-btn {
    @media screen and (max-width: 1500px) {
        top: auto;
        bottom: -60px;
        left: 40%;
    }
    @media screen and (max-width: 992px) {
        left: 35%;
    }
    @media screen and (max-width: 768px) {
        left: 30%;
    }
    @media screen and (max-width: 576px) {
        left: 20%;
    }
}
.alice-carousel__next-btn {
    @media screen and (max-width: 1500px) {
        top: auto;
        bottom: -60px;
        right: 40%;
        transform: translateY(-50%);
    }
    @media screen and (max-width: 992px) {
        right: 35%;
    }
    @media screen and (max-width: 768px) {
        right: 30%;
    }
    @media screen and (max-width: 576px) {
        right: 20%;
    }
}