
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


@font-face {
    font-family: Raleway;
    src: url(/src/assets/fonts/Raleway-v4020-Bold.eot?) format('eot');
    src: url(/src/assets/fonts/Raleway-v4020-Bold.woff) format('woff');
    src: url(/src/assets/fonts/Raleway-v4020-Bold.otf) format('otf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: Raleway;
    src: url(/src/assets/fonts/Raleway-v4020-Medium.eot?) format('embedded-opentype');
    src: url(/src/assets/fonts/Raleway-v4020-Medium.woff) format('woff');
    src: url(/src/assets/fonts/Raleway-v4020-Medium.otf) format('otf');
    font-weight: 500;
    font-display: swap;
}



@font-face {
    font-family: Lato;
    src: url(/src/assets/fonts/Lato-Regular.eot?) format('embedded-opentype');
    src: url(/src/assets/fonts/Lato-Regular.woff2) format('woff2');
    src: url(/src/assets/fonts/Lato-Regular.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Lato;
    src: url(/src/assets/fonts/Lato-Medium.eot?) format('embedded-opentype');
    src: url(/src/assets/fonts/Lato-Medium.woff2) format('woff2');
    src: url(/src/assets/fonts/Lato-Medium.ttf) format('truetype');
    font-weight: 600;
    font-display: swap;
}
